# Unreal
Binaries/
Intermediate/
DerivedDataCache/
Saved/
*.sln
*.suo
*.VC.db

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
build/

# Editors / OS
.vscode/
.idea/
Thumbs.db
.DS_Store
